# IGNORAR ARCHIVOS DE LOG
*.log

# IGNORAR DIRECTORIOS DE DEPENDENCIAS

node_modules/

# IGNORAR ARCHIVOS COMPILADOS

*.class

# IGNORAR ARCHIVOS ESPECIFICOS

temp.txt

# IGNORAR DIRECTORIOS COMPLETOS

/build

# PRUEBAS